@charset "UTF-8";


xdiv {
	border-color: #EC1418;
	border-width:1;
	border-style: solid;
}

.box {
  background-color: #ccc;
	color: #fff;
	border-radius: 10px;
	padding: 0px;
	font-size: 150%;
}

img {
	display: block;
	margin: 0 auto;
	transform: translateY(20px);
	border: 1;
	border-width:medium;
	border-style: solid;
	border-color: #000;
	-moz-box-shadow: 3px 3px 5px #666;
   -webkit-box-shadow: 3px 3px 5px #666;
   box-shadow: 3px 3px 5px #666;
}

.container {
  display: grid;
	grid-gap: 10px; 
	grid-template-columns: repeat(3, [col] 180px );
	grid-template-rows: repeat( 4, [row] 180px ) 64px;
	
}

.dpub-box {
	display: grid;
	grid-gap: 10px;
	grid-column: 1 / span 1 ;
	grid-row:  1 / span 4;
	grid-template-columns: repeat(1, [col] 180px );
	grid-template-rows: 10px repeat( 4, [row] 170px );
}

.dpub-title {
	grid-column: 1;
	grid-row: 1;
	font-size:60%;
	text-align: center;
	line-height:30px;
}

.readium-box {
	grid-column: 1;
	grid-row: 2;
}

.epub-box {
	grid-column: 1;
	grid-row: 3;
}

.ebooks-box {
	grid-column: 1;
	grid-row: 4;
}

.svg-box {
	grid-column: 1;
	grid-row: 5;
}

.container2 {
  display: grid;
	grid-gap: 10px; 
	grid-column: 2 / span 2;
  grid-row: 1 / span 4;
	grid-template-columns: repeat(2, [col] 180px );
	grid-template-rows: 10px [row] 180px [row] 180px 0.5em [row] 180px [row] 180px );
}

.graphics-box {
  display: grid;
  grid-column: 1 / span 2;
  grid-row: 1 / span 3;
  grid-template-columns: repeat(2, [col] 180px );
	grid-template-rows: 10px repeat( 2, [row] 180px );
}

.graphics-title-box {
	display: grid;
	grid-column: 1 / span 2;
  grid-row: 1;
  grid-template-columns: 1fr );
	grid-template-rows: 1fr );
}

.graphics-title {
	grid-column: 1;
	grid-row: 1;
	font-size:60%;
	text-align: center;
	line-height:30px;
}

.nehe-box {
	grid-column: 1;
	grid-row: 2;
}

.svganim-box {
	grid-column: 2;
	grid-row: 2;
}

.jogl-box {
	grid-column: 1;
	grid-row: 3;
}

.epub-gl-box {
	grid-column: 2;
	grid-row: 3;
}

.gis-box {
  display: grid;
  grid-column: 1 / span 2;
  grid-row: 4 / span 3;
	grid-template-columns: repeat(2, [col] 180px );
	grid-template-rows: 10px repeat( 2, [row] 180px );
}

.visual-title-box {
	display: grid;
	grid-column: 1 / span 2;
  grid-row: 1;
  grid-template-columns: 1fr );
	grid-template-rows: 1fr );
}

.visual-title {
	grid-column: 1;
	grid-row: 1;
	font-size:60%;
	text-align: center;
	line-height:30px;
}

.contour-box {
	grid-column: 1;
	grid-row: 2;
}

.project-box {
	grid-column: 2;
	grid-row: 2;
}

.sim-box {
	grid-column: 1;
	grid-row: 3;
}

.sculpt-box {
	grid-column: 2;
	grid-row: 3;
}

.footer-box {
  display: grid;
	grid-column: 1 / span 3;
  grid-row: 5;
	grid-template-columns: repeat(3, [col] 180px );
	grid-template-rows: repeat( 1, [row] 60px );
}

.about-box {
	grid-column: 1;
	grid-row: 1;
	font-size:75%;
	text-align: center;
	line-height:60px;
}

.blog-box {
	grid-column: 2;
	grid-row: 1;
	font-size:75%;
	text-align: center;
  line-height:60px;
}

.contact-box {
	grid-column: 3;
	grid-row: 1;
	font-size:75%;
	text-align: center;
	line-height:60px;
}

.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 132px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-left: -66px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
