/*------------------------------------*\
    RESET
\*------------------------------------*/

*,
*:after,
*:before {
	margin:0;
	_padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
body {
	/* font:400 13px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif; */
	background:#f9f9f9;
	line-height:1.2;
}

p {
	margin: 0.375em;
}

a img {
  border-style: ridge;
  boreder-color: #888;
}
/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

.wrapper {
	max-width:850px;
	_margin:0 auto;
}
.header {
	padding:0px 0px;
	background:#FFF;
	border-left:5px solid #2BA6CB;
	overflow:hidden;
}
